.MovieContainter__Label {
  margin: 85px 0 0 80px;
}
/* .MoviesContainer {
  width: 100%;
} */
.rec.rec-pagination {
  display: none;
}
/* .rec-item-wrapper {
  height: 420px;
} */
/* 
.rec-slider-container {
  text-align: center;
} */
/* .rec-carousel-item {
 width: 300px;

}
.rec-slider-container {
 width: 85%;
} */
.rec-item-wrapper {
  height: 370px;
  overflow: visible !important;
}
button {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50%;
  outline: none;
  margin: auto 20px;
  height: 30px;
  width: 30px;
  background-color: #fff;
}
button img {
  margin: 3px 0 0 0;
}
button:disabled {
  background-color: black;
}
button:hover {
  background-color: rgb(131, 122, 122);
}
.MovieContainer {
  height: auto;
  margin: auto 0;
  align-items: center;
  position: relative;
  transition: all 0.95s ease;
  border: 1px solid transparent;
}
.MovieContainer:hover {
  border: 1px solid white;
}

.Card {
  display: block;
  opacity: 0;
  overflow: hidden;
  height: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  background-color: white;
  position: absolute;
  transform: translateX(50px) translateY(-250px);
  color: black;
  transition: all 0.85s ease;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
.MovieContainer:hover .Card {
  opacity: 1;
  width: 300px;
  min-height: 350px;
 
  transform: translateX(-50px) translateY(-330px);
}
.poster-name {
  margin: 0;
}
.poster-name,
.truncate {
  padding: 10px 0 5px 10px;
}
/* .truncate {
  display: inline-block;
  width: 95%;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
} */


.featured-movie {
  position: relative;
}
.featured-movie img {
  width: 100%;
  height: auto;
  filter: opacity(55%);
}
.featured-movie__description {
  position: absolute;
  top: 30%;
  left: 5%;
}
.featured-movie h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}
.featured-movie p {
  font-size: 1.6rem;
  width: 60%;
  word-spacing: 1.2px;
  line-height: 1.2;
  text-justify: inter-word;
  text-align: justify;
}
.featured-movie__link-info {
  text-decoration: none;
  display: inline-block;
  color: #000;
  margin-top: 25px;
  padding: 15px 25px;
  border: 2px solid white;
  background-color: whitesmoke;
  border-radius: 25px;
}
.featured-movie__link-info:hover {
  border: 2px solid #aca9a9;
  background-color: #aca9a9;
  color: white;
}
.read-more {
  color: purple;
  margin-left: 10px;
  text-decoration: underline;
  cursor: pointer;
}
.chevron-container {
  position: absolute;
  bottom: 25%;
  left: calc(45% + 80px);
  width: 50px;
  height: 50px;
}
.chevron {
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
